.pagination{

    display:flex;

    justify-content:flex-end;

    gap:10px;

    margin-top:20px;

}

.pagination button{

    min-width:42px;

    height:40px;

    border:none;

    border-radius:10px;

    background:#EEF4EC;

    color:#344531;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.pagination button:hover{

    background:#516A47;

    color:#FFFFFF;

}

.pagination button.active{

    background:#344531;

    color:#FFFFFF;

}

.pagination button:disabled{

    opacity:.5;

    cursor:not-allowed;

}