.dashboard-stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:22px;

}

@media(max-width:1200px){

.dashboard-stats{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.dashboard-stats{

grid-template-columns:1fr;

}

}