.search-bar{

    display:flex;

    align-items:center;

    gap:12px;

    background:#FFFFFF;

    border:1px solid #E5E7EB;

    border-radius:14px;

    padding:14px 18px;

    box-shadow:0 6px 18px rgba(0,0,0,.05);

}

.search-bar svg{

    color:#516A47;

}

.search-bar input{

    width:100%;

    border:none;

    outline:none;

    background:transparent;

    font-size:15px;

    color:#12263A;

}

.search-bar input::placeholder{

    color:#9CA3AF;

}