.wallet-card{

    background:#FFFFFF;

    border-radius:18px;

    padding:24px;

    box-shadow:0 8px 24px rgba(0,0,0,.06);

    transition:.3s;

}

.wallet-card:hover{

    transform:translateY(-4px);

}

.wallet-icon{

    width:56px;

    height:56px;

    border-radius:14px;

    background:#EEF4EC;

    color:#516A47;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:18px;

}

.wallet-card h2{

    font-size:30px;

    font-weight:700;

    color:#12263A;

    margin-bottom:8px;

}

.wallet-card p{

    color:#8A97A1;

    font-size:15px;

}