/* ==========================================
   Withdrawals Page
========================================== */

.withdrawals-page{

    display:flex;

    flex-direction:column;

    gap:32px;

    width:100%;

    min-height:100%;

}

/* ==========================================
   Responsive
========================================== */

@media(max-width:768px){

.withdrawals-page{

    gap:24px;

}

}